.my-btn-white,
.my-btn-dark{
  width: 230px;
  font-size: 1rem;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  transition: all 0.5s ease-in;
}
.my-btn-white{
  border: 1px solid white;
  a{
      text-decoration: none;
      color: var(--txt-white);
    }
     &:hover{
      background-color: white;
      border: 1px solid black;
      color: black;
  }
  &:hover a{
    color: black;
  }
}
.my-btn-dark{
  border: 1px solid var(--silver);
  margin: 0 auto;
  a{
    text-decoration: none;
    color: var(--dark);
  }
  &:hover{
      border: 1px solid black;
  }
}