    // animation for dropdown
    .hamburger-dropdown-container{
        top: 45px;
        right: 35px;
        width: 50%;
        ul{
            list-style: none;
            box-shadow: 10px 10px 10px rgba(63, 63, 63, 0.808);
            background-color: var(--txt-white);    
            li{
                a{
                    color: var(--dark);
                    font-weight: 600;
                    .unselected-dropdown-link{
                            font-weight: 400;
                            color: var(--dark-grey);
                    }
                    .selected-dropdown-link{
                            font-weight: 700;
                    }
                }
            }
        }
    }
    
    .scale-in-tr {
        -webkit-animation: scale-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        @-webkit-keyframes scale-in-tr {
        0% {
            -webkit-transform: scale(0);
                    transform: scale(0);
            -webkit-transform-origin: 100% 0%;
                    transform-origin: 100% 0%;
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(1);
                    transform: scale(1);
            -webkit-transform-origin: 100% 0%;
                    transform-origin: 100% 0%;
            opacity: 1;
        }
        }
        @keyframes scale-in-tr {
        0% {
            -webkit-transform: scale(0);
                    transform: scale(0);
            -webkit-transform-origin: 100% 0%;
                    transform-origin: 100% 0%;
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(1);
                    transform: scale(1);
            -webkit-transform-origin: 100% 0%;
                    transform-origin: 100% 0%;
            opacity: 1;
        }
        }
        .scale-out-tr {
        -webkit-animation: scale-out-tr 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: scale-out-tr 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }
        @-webkit-keyframes scale-out-tr {
        0% {
            -webkit-transform: scale(1);
                    transform: scale(1);
            -webkit-transform-origin: 100% 0%;
                    transform-origin: 100% 0%;
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(0);
                    transform: scale(0);
            -webkit-transform-origin: 100% 0%;
                    transform-origin: 100% 0%;
            opacity: 1;
        }
        }
        @keyframes scale-out-tr {
        0% {
            -webkit-transform: scale(1);
                    transform: scale(1);
            -webkit-transform-origin: 100% 0%;
                    transform-origin: 100% 0%;
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(0);
                    transform: scale(0);
            -webkit-transform-origin: 100% 0%;
                    transform-origin: 100% 0%;
            opacity: 1;
        }
        }  